/node_modules
/public/hot
/public/storage
/public/artist_image
/public/music
/public/playlist_images
/public/video
/public/videos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
